:root {
    --bgColor: rgb(29, 34, 51);
    --optionsColor: orange;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex; 
    justify-content: center;
    align-items: center;
    background: var(--bgColor);
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    transform: skewY(-15deg) translateY(45px);
}

ul{
    position: relative;
    list-style: none;
    line-height: 0;
    transform-style: preserve-3d;

}

ul li {
    position: relative; 
    padding: 21.5px;
    width: 300px;
    background-color: rgb(51, 52, 155);

    z-index: var(--i);

    transition: 0.25s;
}

ul li:hover {
    background-color: orange;
    transform: translateX(-50px);
}

ul li:hover::before, ul li:hover::after{
    background-color: rgb(121, 79, 3);
}

/* FIX THESE */
ul .active::before, ul .active::after {
    background-color: rgb(109, 79, 23);
}

ul .active {
    background-color: rgb(167, 123, 41);
}

/* until here ^^^ */

ul .active a {
    color: white;
}

ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.25s;
    background-color: rgb(45, 46, 100);
}

ul li::after {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.25s;
    background-color: rgb(40, 41, 87);
}

ul li a {
    text-decoration: none;
    color: var(--optionsColor);
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    transition: 0.25s;
}

ul li:hover a{
    color: white;
}

.content {
    height: 300px;
    aspect-ratio: 16 / 9; 
    background-color: rgb(51, 52, 155);
    border: 1px solid rgb(33, 34, 102);
}

.content::before {
    content: '';
    position: absolute;
    width: 533.333px;
    height: 40px;
    background-color: red;
    transform: translateY(-40px) skewX(20deg);
}

.main-content {
    margin: 25px;
    height: 250px;
    border: 1px solid rgb(22, 26, 82);
}

.right {
    width: 300px;
    height: 300px;
    border: 1px solid red;

    overflow-y: scroll;
    transform: skewY(15deg) translateY(40px);
}

.right p {
    margin: 25px;
}

